html {
  background: #f1f1f1;
}
.card-carousel-container {
  height: 600px;
  margin: 60px 300px;
}

.card {
  background: rgba(40, 40, 62, 0.8);
  border: 1px solid #979797;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.card-title {
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 36px;
  padding: 20px 0 0;
  font-weight: bold;
}

.card-desc {
  font-size: 16px;
  color: #DDDDDD;
  letter-spacing: 0;
  line-height: 26px;
  width: 180px;
  margin: 5px auto;
  white-space: normal;
}

.card-img {
  height: 120px;
  margin: 15px auto;
}